<footer class="relative bg-slate-800 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px;">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-slate-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 px-4">
        <h4 class="text-3xl font-semibold text-white">Let's keep in touch!</h4>
        <h5 class="text-lg mt-0 mb-2 text-slate-200">Find us on any of these platforms, we respond 1-2 business days.</h5>
        <div class="mt-6"><a href="#" target="_blank"><i class="fab fa-twitter bg-white text-sky-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a><a href="#" target="_blank"><i class="fab fa-facebook-square bg-white text-sky-600 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a><a href="#" target="_blank"><i class="fab fa-dribbble bg-white text-pink-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a><a href="#" target="_blank"><i class="fab fa-github bg-white text-slate-800 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a></div>
        <p class="text-sm mt-6 text-slate-500 font-semibold">
          Currently v1.1.0. Code<a href="#" class="text-slate-400" target="_blank"> licensed MIT</a>, docs<a href="#" targe="_blank" class="text-slate-400"> CC BY 4.0</a>.
        </p>
      </div>
      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"><span class="block uppercase text-slate-500 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">About Us</a></li>
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">Blog</a></li>
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">Github</a></li>
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">Free Products</a></li>
            </ul>
          </div>
          <div class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto"><span class="block uppercase text-slate-500 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">MIT License</a></li>
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">Terms &amp; Conditions</a></li>
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">Privacy Policy</a></li>
              <li><a class="text-slate-400 hover:text-slate-300 font-semibold block pb-2 text-sm" href="#" target="_blank">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-slate-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-slate-500 font-semibold py-1">Copyright © 2023 RubyOnRails Website by <a href="#" class="text-slate-400 hover:text-slate-300" target="_blank">Davis Cruz</a>.</div>
      </div>
    </div>
  </div>
</footer>
